.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-navbar {
  background: url('./assets/head.jpg') center center/cover no-repeat;
  position: relative;
  z-index: 1;
}

.custom-navbar::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.7); /* oscurece la imagen */
  filter: brightness(0.5);     /* reduce el brillo */
  z-index: 2;
}

.custom-navbar .container,
.custom-navbar .navbar-brand,
.custom-navbar .d-flex {
  position: relative;
  z-index: 3;
}

.custom-navbar,
.custom-navbar * {
  font-weight: bold !important;
}

.custom-navbar .navbar-brand {
  color: #FFD600 !important;
}
